@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body{
  background-color: #070708;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes diagonalScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}


@media (min-width: 378px) {
  .only-320 {
    display: block;
  }
}
@media (max-width: 379px) {
  .only-320 {
    display: none;
  }
}

